.chat_window {
    min-width: 320px;
    width: 600px;
    min-height: 60vh;
     height: 75vh;
    bottom: 10px;
    right: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    z-index: 999 !important;
}

.chat_header {
    background-color: #683ab7;
    color: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.chat_body_container {
    flex: 1;
    overflow: auto;
}

.chat_body {
    height: 550px;
    overflow-y: auto;
    padding: 1rem;
}

.send_button {
    background-color: #fff;
    border: none;
    box-shadow: none;
    outline: none;
}

.user_input {
    border: none;
}

.user_message {
    border-radius: 6px;
    border-top-right-radius: 0px;
    background-color: #e9e9e9;
    font-size: 14px;
    font-weight: 400;
}

.bot_message {
    border-radius: 6px;
    border-top-left-radius: 0px;
    background-color: #e9e9e9;
    padding: 10px 25px 10px 10px !important;
}

.custom_alert {
    border: solid 1px #cccccc;
    border-radius: 6px;
}

.chat_toggle_dropdown .ant-select-selector{
    background-color: transparent !important;
    background: transparent !important;
}

.formatStyles{
    font-size: 14px;
    font-weight: 400;
}
.formatStyles h3{
    font-size: 20px;
    font-weight: 700;
}
.formatStyles h4{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.formatStyles ul{
    list-style:decimal-leading-zero;
}


@media screen and (width: 1280px) and (height: 720px) {
    .chat_window {
        min-height: 50vh;
    }
    .chat_body {
        height: 450px;
    }
  }
  